target

###> idea ###
/.idea/*
!/.idea/.gitignore
!/.idea/modules.xml
!/.idea/*.iml
!/.idea/vcs.xml
!/.idea/symfony2.xml
!/.idea/webResources.xml
!/.idea/dictionaries/
!/.idea/dictionaries/project.xml
###< idea ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###

###> kocal/biome-js-bundle ###
/bin/biome
###< kocal/biome-js-bundle ###
