{% extends 'base.html.twig' %}

{% block body %}
    <main class="flex-grow">
        <div class="page-container">
            <section class="mt-4">
                <div class="space-y-8">
                    {{ component('CarnetsComponent') }}
                </div>
            </section>

            <section class="mt-4">
                <div class="space-y-8">
                    {{ component('BookingsComponent') }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}