{% extends 'base.html.twig' %}

{% block title %}{{ 'page.workshops'|trans }} - Kiddo{% endblock %}

{% block body %}
    <main class="flex-grow">
        <div class="page-container">

            <div class="text-center mb-12">
                <h1 class="section-title">{{ 'lesson.page.header'|trans }}</h1>
                <p class="text-lg text-muted-foreground max-w-2xl mx-auto">{{ 'lesson.page.lead'|trans }}</p>
            </div>
            {{ component('LessonSearch') }}
        </div>
    </main>
{% endblock %}

