{% trans_default_domain 'emails' %}

<p>{{ 'payment.notification.admin.info'|trans({
        'amount': payment.amount|money,
        'date': payment.createdAt|format_datetime(pattern='dd.MM, HH:mm'),
        'user': user.emailString
    })|raw }}</p>

<ul>
    {% for lesson in lessons %}
        <li>
            <strong>{{ lesson.metadata.title }}</strong>
            ({{ lesson.metadata.schedule|format_datetime(pattern='dd MMM, HH:mm') }})
        </li>
    {% endfor %}
</ul>

<p>{{ 'payment.notification.admin.footer'|trans }}</p>